.section-center {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr !important;
  /* grid-auto-flow: row; */
  background-color: aquamarine;
}
.click {
  background-color: rgba(90, 87, 171, 1) !important;
  color: white !important;
}

.noClick {
  background-color: rgba(196, 196, 196, 0.25) !important;
  color: black !important;
}
